.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.section {   
    z-index: 1;
    width: 100%;
    overflow: hidden;
    margin-top: 5vw;      
}
.widget{
  margin-top: 130px; 
}
/* video youtube */
.video {    
    overflow: hidden;
    width: 40%;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 25px;
}
.bgvideo { 
    display: flex;
    justify-content: center;
    width: 100%;   
    overflow: hidden;
    background: #fff;    
}

/* ------- */

.fondoGC {
    position: relative;
    display: block;
    width: 100%;
    background-image: url('../logos/gestioncapital.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    background-position: center;
    background-attachment: fixed;
}
.datosGC {
    display: block;
    position: absolute;
    top: 4vw;
    width: 100%;
    padding: 3vw 4vw;
    background-color: rgba(221, 208, 208, 0.733) ;
}
/* CARD PAQUETES */
.cardpaq{
    color: rgba(139, 16, 16, 0.829)
}

.señales {
    display:flex;
    flex-direction: row;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;       
}
.cards {   
    width: 25%; 
    height: 250px; 
    margin-right:15px;
}
/* navbar */
.nav {
    display: inline;
    position: fixed;  
    z-index: 100;
    background-color: white; 
    width: 100%; 
    color: black;
}

.fondomentoria {
    position: relative;
    display: block;
    width: 100%;
    background-image: url('../logos/mentorias.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vw;
    background-position: center;
    background-attachment: fixed;
}
.datosmentoria {
    display: block;
    position: absolute;
    top: 5vw;
    width: 100%;
    padding: 1vw 4vw;
    background-color: rgba(221, 208, 208, 0.733);
    
}
    /* ----media screen 1000px--------- */
  @media screen and (max-width: 1000px) {
     .section{
        width: 100%;
        
    }   
   .fondomentoria{
    background-image: none;
    height: 500px
    }
    .datosmentoria{ 
    width: 100%;
    overflow: hidden;     
    }
    .fondoGC{
    height: 350px;
    width: 100%;
    height: 38vw;       
    }
  }
/* -------MEDIA SCREEN 800----------- */
@media screen and (max-width: 800px) { 
    .section{
        width: 100%;
    }
    .señales{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .cards{
       width: 85%;    
    }
     .fondomentoria{
    background-image: none;
    height: 500px
    }
    .datosmentoria{ 
    width: 100%;
    overflow: hidden;     
    }
    .fondoGC{
    background-image: none;
    height: 300px;
    width: 100%;       
    }
    .datosGC{   
    width: 100%;   
    background-color: white;
    }
     .video {    
    overflow: hidden;
    width: 90%;
    }
  }

/* ----media screen 500px--------- */
@media screen and (max-width: 500px) {
    .section{
        width: 100%;
    }
    .señales{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .cards{
       width: 100%;
            
    }
    .fondomentoria{
    height: 700px
    }
    .datosmentoria{ 
     z-index: 1;
    width: 100%;
    overflow: hidden;         
    }
    .fondoGC{
    background-image: none;
    height: 280px;
    width: 100%;   
            
    }
    .datosGC{
    z-index: 1;
    width: 100%;
    overflow: hidden; 
    }
    .video {    
    overflow: hidden;
    width: 90%;
    height: 180px 
    }
  }
   /* ----media screen 300px--------- */
  @media screen and (max-width: 300px) {
  
    .fondomentoria{
    height: 750px
    }

    .fondoGC{
    background-image: none;
    height: 360px;
    width: 100%;   
            
    }
  }
 
   