.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.section {   
    z-index: 1;
    width: 100%;
    overflow: hidden;     
}
.widget{
  margin-top: 6rem; 
}
/* video youtube */
.video {    
    overflow: hidden;
    width: 50%;
    height: 20rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.bgvideo { 
    display: flex;
    justify-content: center;
    width: 100%;   
    overflow: hidden;   
}
.service {
    background: url('../logos/fondoseñalesvideo.jpg') no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* CARD PAQUETES */
.cardpaq{
    color: rgba(139, 16, 16, 0.829)
}

.señales {
    display:flex;
    flex-direction: row;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box; 
        
}
.cards {   
    margin: 0 15px;
    width: 25%; 
    height: 17rem; 
}

/* fondos */
.fondoGC {
    position: relative;
    display: block;
    width: 100%;
    background-image: url('../logos/gestioncapital.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    background-position: center;
    background-attachment: fixed;
}
.datosGC {
    display: block;
    position: absolute;
    top: 3vw;
    width: 100%;
    padding: 1vw 5vw;
    background-color: rgba(221, 208, 208, 0.733) ;
}
.fondomentoria {
    position: relative;
    display: block;
    width: 100%;
    background-image: url('../logos/mentorias.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 3rem;
}
.datosmentoria {
    display: block;
    position: absolute;
    top: 3vw;
    width: 100%;
    padding: 1vw 5vw;
    background-color: rgba(221, 208, 208, 0.733);
    
}

    /* ----media screen 1000px--------- */
@media screen and (max-width: 1000px) {
    .section {
        width: 100%;
    }     
    .cards {
        width: 85%;    
     }
    .service{
        background: none;
    }
    .fondoGC{
    height: 350px;
    width: 100%;
    height: 38vw;       
    }
    .video {    
        overflow: hidden;
        width: 90%;
    }
  }
/* -------MEDIA SCREEN 890----------- */
@media screen and (max-width: 890px) {  
     .fondomentoria{
    background-image: none;
    height: 500px
    } 
      .fondomentoria{
    background-image: none;
    height: 500px
    }
    .datosmentoria{ 
    width: 100%;
    overflow: hidden;
    background-color: rgba(192, 31, 31, 0.89);
    color: white
      
    }
    .fondoGC{
    background-image: none;
    height: 300px;
    width: 100%;       
    }
    .datosGC{   
    width: 100%;
    background-color: rgba(192, 31, 31, 0.89);
    color: white
    
    }
    .señales{
        width: 100%;
        display: flex;
        flex-direction: column;        
    }
    .footerMob{
        width: 100%;
        display: flex;
        flex-direction: column;
        white-space: nowrap;        
    }
  }

/* ----media screen 500px--------- */
@media screen and (max-width: 500px) {
    .cards{
       width: 100%;
       margin: 8px;     
    }
    .fondomentoria{
    height: 700px
    }
    .datosmentoria{ 
     z-index: 1;
    width: 100%;
    overflow: hidden;         
    }
    .fondoGC{
    background-image: none;
    height: 280px;
    width: 100%;          
    }
    .datosGC{
    z-index: 1;
    width: 100%;
    overflow: hidden; 
    }
    .video {    
    overflow: hidden;
    width: 90%;
    height: 180px;
    }
  }
   /* ----media screen 300px--------- */
  @media screen and (max-width: 300px) {  
    .fondomentoria{
    height: 750px
    }
    .fondoGC{
    background-image: none;
    height: 360px;
    width: 100%;            
    }
  }
 
